// @import '../../node_modules/margo-css/margo.css';
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

img {
  //  width: 100%;
   display: block;
}

#app-container{
}

.elementHolder1, .elementHolder2 {
  margin-top: 15px;
}
.thumbnail1 {
  background: #C8F7C5;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

}
.theP1, .theP2 {
  padding-bottom: 2px;
}
